{# {% extends 'base.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}
<div class="container">
    <h1>Contacts</h1>

    <table class="table" id="contacts-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>ContactNumber</th>
                <th>Address</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.contactNumber }}</td>
                <td>{{ contact.address }}</td>
                <td>
                    <a href="{{ path('app_contact_show', {'id': contact.id}) }}">show</a>
                    <a href="{{ path('app_contact_edit', {'id': contact.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_contact_new') }}">Create new</a>
    </div>
    
    <!-- - <script>
        $(document).ready(function() {
            $('#contacts-table').DataTable();
        });
    </script>  -->

{% endblock %} #}

{% extends 'blank.html.twig' %}

{% block title %}Contacts{% endblock %}

{% set title = "Contacts" %}

{% block child_content %}
<div class="container">

    <div class="table-responsive">
        <table class="table table-bordered" id="contacts-table" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>ContactNumber</th>
                    <th>Address</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
{% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.contactNumber }}</td>
                <td>{{ contact.address }}</td>
                <td>
                    <a href="{{ path('app_contact_show', {'id': contact.id}) }}">show</a>
                    <a href="{{ path('app_contact_edit', {'id': contact.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{{ path('app_contact_new') }}" class="btn btn-primary">Create New</a>
</div>
</div>

<!-- Uncomment to enable DataTables -->
<!-- <script>
    $(document).ready(function() {
        $('#contacts-table').DataTable();
    });
</script> -->
{% endblock %}

